body{
  background: #4D194D;
  color: #fff;
  padding: 365px;
}

label{
  display: block;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1rem;
  padding: .5rem 0;
  /* Not entirely white */
  color: rgba(255, 255, 255, .75);
}

input[type="text"]{
  background-color: transparent;
  border: 0;
  margin-bottom: 10px;
  color: #fff;
  font-size: 3.2rem;
}

.summary{
  display: flex;
  justify-content: space-between;
  background: #1B3A4B;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.7rem;
}

.summary label{
  line-height: 2rem;
}

.seperate button{
  border-radius: 9999999px;
  border: 0;
  width: 30px;
  height: 30px;
  
}

/* + & -
button{
  font-size: 2rem;
} */

.split-control span{
  display: block;
  padding: 0 10px;
}

.split-control{
  display: flex;
  align-items: center;
  /* justify-items: center; */
}

